/*HEADER*/
header {
  font-size: 150px;
  color: aquamarine;
  text-align: center;
  background-color: black;
  margin-bottom: 1%;
  font-family: "Satisfy", cursive;
}
/*BODY*/
.card {
  display: inline-block;
  width: 30%;
  margin-left: 3%;
  margin-top: 2%;
}
.card-body {
  text-align: center;
  /* margin-left: 50%;*/
}
.card-img-top {
  object-fit: contain;
}
/*Table*/
table {
  border: solid;
}
tr th {
  border: solid;
}
#headings {
  background-color: rgb(132, 167, 167);
  border: solid;
}

/*Footer*/
footer {
  background-color: black;
  color: aqua;
  margin-top: 2%;
  min-height: 100px;
}
li {
  list-style-type: none;
}
